  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    padding-bottom: 40px;
  }

  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 0 60px;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #fcb252;
    margin: 4px 10px;
  }
  
  .section-title p {
    padding: 0 0 0 60px;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #151515;
    margin-left: 0px;
  }
  .section-title input{
    display: block;
    
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-top: 3%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;}
  
  
  .w-60 {
    width: 120px;
  }
